<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>SDKP - Dashboard</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
        <h1> Admin dashboard </h1>
        <h1>Welcome back, {{ user.student_id }}</h1>
        <h2>Existing groups: </h2>
        <form action="/dashboard" method="post">
            <input name="new_group_id" type="text" placeholder="New group id">
            <input name="action" type="submit" value="Create new group">
            <ul>
                <select name="groups" multiple>
                    {% for group in all_groups %}
                    <option value="{{group.id}}"> {{group.id}} </option>
                    {% endfor %}
                </select>
            </ul>
            <h2>Existing students: </h2>
            <input name="action" type="submit" value="Add selected users to selected groups">
            <ul>
                <select name="users" multiple>
                    {% for user in all_users %}
                    <option value="{{user.student_id}}">{{user.student_id}}</option>
                    {% endfor %}
                </select>
            </ul>
        </form>
    </body>
</html>
