<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SDKP - Dashboard</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>
<h1> Task manager dashboard </h1>
<h1>Welcome back, {{ user.student_id }}</h1>
<input id="newTask" type="button" value="Create new task">
<script>
    document.getElementById("newTask").onclick = function() {
        location.href = "/task/new"
    }
</script>
<h2> Your tasks: </h2>
<ul>
    {% for task in user.owned_tasks %}
        <li> 
            <form action="/task/{{task.id}}/solutions" method="post">
                <a href="/task/{{ task.id }}"> {{ task.name }}</a> 
                <input id="gensol{{task.id}}" type="submit" value="Test all solutions and download pdf.">
            </form>
            <!-- <script> -->
            <!--     document.getElementById("gensol{{task.id}}").onclick = function() { -->
            <!--         location.href = "/task/{{task.id}}" -->
            <!--     } -->
            <!-- </script> -->
        </li>
    {% endfor %}
</ul>
</body>
</html>
