<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ task.name }}</title>
    </head>
    <body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <script>
                {% for category, message in messages %}
                    alert("{{ message }}");
                {% endfor %}
            </script>
        {% endif %}
    {% endwith %}

    <h1> {{ task.name }} </h1>
    <h2> {{ task.date }} </h2>
    <p> {{ task.content }} </p>
    <form action="/task/{{ task.id }}" method="post">
        <textarea name="solution" placeholder="Your solution"></textarea>
        <input type="submit" value="Submit solution">
    </form>
</body>
</html>
